# How to clean and organize data

## Libraries

In [2]:
import pandas as pd
import numpy as np
from openpyxl.workbook import workbook

In [7]:
vocabulary = pd.read_excel('files/vocabulary.xlsx')
vocabulary.head(4)

,Unnamed: 0,word,definition,type,source_link,example,example_image
0,0,"""settlement""",a place where people come to live or the proce...,noun,https://dictionary.cambridge.org/es/diccionari...,The settlements are within the built-up area o...,https://encrypted-tbn0.gstatic.com/images?q=tb...
1,1,"even ""though""",despite the fact that,NaN,https://dictionary.cambridge.org/es/diccionari...,"Even though he never completed college, he run...",NaN
2,2,harness,"to control something, usually in order to use ...",verb,https://dictionary.cambridge.org/es/diccionari...,"As the leading location data company, we are e...",NaN
3,3,eager,"wanting very much to do or have something, esp...",adjective,https://dictionary.cambridge.org/es/diccionari...,we are eager to harness the collective power o...,NaN

## How to replace NaN values to '0' value

* Can be change with any value contained into '' single cuotes

In [15]:
vocabulary = vocabulary.replace(np.nan,'0', regex= True)

In [16]:
vocabulary.head(4)

,Unnamed: 0,word,definition,type,source_link,example,example_image
0,0,"""settlement""",a place where people come to live or the proce...,noun,https://dictionary.cambridge.org/es/diccionari...,The settlements are within the built-up area o...,https://encrypted-tbn0.gstatic.com/images?q=tb...
1,1,"even ""though""",despite the fact that,0,https://dictionary.cambridge.org/es/diccionari...,"Even though he never completed college, he run...",0
2,2,harness,"to control something, usually in order to use ...",verb,https://dictionary.cambridge.org/es/diccionari...,"As the leading location data company, we are e...",0
3,3,eager,"wanting very much to do or have something, esp...",adjective,https://dictionary.cambridge.org/es/diccionari...,we are eager to harness the collective power o...,0

In [17]:
vocabulary.word.str.split(expand=True)

                 0         1
0     "settlement"      None
1             even  "though"
2          harness      None
3            eager      None
4           whilst      None
5  "self-awarness"      None
6           lately      None
7            delve      None

In [18]:
# vocabulary.word = vocabulary.word.str.split(expand=True)

## References
[Pandas documentation Dataframe](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)